<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BlazeRepo | Account</title>
        <link rel="stylesheet" type="text/css" href="/static/css/account.css">
    </head>
    <body>

        <div id="backgroundCircle"></div>
        <div id="backgroundSquare"></div>

        <div class="centerCard">
            <div class="sidebar">
                <img src="/static/img/blazerepo.png" id="logo">
                <div id="profilePicture"></div>
                <p id="username"></p>
                <p id="email"></p>
                <p id="userId"></p>
                <div id="glyphButtonContainer">
                    <div id="editButton" style="background-image: url('/static/img/icons/pencil.svg')" onclick="goToDetails()"></div>
                </div>
                <div class="sidebarButton" onclick="signout()">Sign Out</div>
            </div>
            <div class="centerCardContent">

                <p class="cardTitle">Account Balance</p>

                <div class="contentCard" id="walletCard">
                    <h1 id="walletTitle">Wallet</h1>
                    <p id="date"></p>
                    <p id="balance"></p>
                    <div class="cardBottomButton" onclick="addFunds()">Add Funds</div>
                </div>

                <div class="column" style="padding-right: 10px;">
                        <p class="cardTitle">Linked Accounts</p>

                        <div id="linkedServices" class="cardScrollerList">
                            <div class="smallListCard unlinkedAccount" style="background-image: url('https://blazerepo.com/logo.svg'); background-size: 20px;" id="blaze" onclick="linkBlaze(this)">
                                Blaze
                                <div class="accountsAddIcon"></div>
                            </div>
                            <div class="smallListCard unlinkedAccount" style="background-image: url('/static/img/socials/twitter.svg')" id="twitter" onclick="linkAccount(this)">
                                Twitter
                                <div class="accountsAddIcon"></div>
                            </div>
                            <div class="smallListCard unlinkedAccount" style="background-image: url('/static/img/socials/github.svg')" id="github" onclick="linkAccount(this)">
                                Github
                                <div class="accountsAddIcon"></div>
                            </div>
                            <div class="smallListCard unlinkedAccount" style="background-image: url('/static/img/socials/google.svg')" id="google" onclick="linkAccount(this)">
                                Google
                                <div class="accountsAddIcon"></div>
                            </div>
                            <div class="smallListCard unlinkedAccount" style="background-image: url('/static/img/socials/discord.svg')" id="discord" onclick="linkAccount(this)">
                                Discord
                                <div class="accountsAddIcon"></div>
                            </div>
                        </div>
                </div>

                <div class="column" style="padding-left: 10px;">
                    <p class="cardTitle">Purchases</p>
                        <div id="purchases" class="cardScrollerList">
                                {% for purchase in purchases %}
                                    <div class="smallListCard" style="background-image: url('https://blazerepo.com/images/tweak.png');">
                                        <p class="purchasedTweakName">{{ purchase.name }}</p>
                                        <p class="purchasedTweakDate">{{ purchase.date }}</p>
                                    </div>
                                {% endfor %}
                        </div>
                </div>

            </div>
        </div>
        <script>
            {% autoescape off %}
          let avatar = "https://ui-avatars.com/api/?background=2869d1&color=ffffff&bold=true&size=512&name={{ user.username }}"
          let name = "{{ user.username }}"
          let email = "{{ user.email }}"
          let balance = {{ balance }}
          let linkedAccounts = {{ linked_accounts.linked|tojson }}
          let userId ="{{ user_id }}"

          const urlParams = new URLSearchParams(window.location.search);
          const error = urlParams.get('error');
          if (error) {
              alert(error)
          }
            {% endautoescape %}
        </script>
        <script src="/static/js/account.js"></script>
    </body>
</html>
