<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/main/style.css">
  <meta name="description"
    content="Blaze Repo, a jailbreak repo brings you tweaks with no compromises. Built for developers by developers, without forgetting the customers! It's that simple." />
  <meta name="keywords" content="Repo Jailbreak Cydia Sileo Tweaks uncover a12 iphone ios shimera " />
  <meta name="author" content="Blaze Development">
  <meta name="robots" content="index, follow" />
  <meta name="revisit-after" content="1 month" />
  <title>BlazeRepo: A Sileo & Cydia Jailbreak Repo Bringing The Latest & Greatest Tweaks!</title>
  <meta property="og:title"
    content="BlazeRepo: A Sileo & Cydia Jailbreak Repo Bringing The Latest & Greatest Tweaks!" />
  <meta property="og:type" content="Repository" />


  <meta property="og:url" content="https://blazerepo.om" />
  <meta property="og:image" content="https://blazerepo.com/logo.png" />
  <meta property="og:description"
    content="Blaze Repo, a jailbreak repo brings you tweaks with no compromises. Built for developers by developers, without forgetting the customers! It's that simple." />
  <meta name="theme-color" content="#487cdc">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#487cdc">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153829017-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-153829017-1');
</script>


  <title>BlazeRepo</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/css/main/animate.css">
          <!-- Place your kit's code here -->
          <script src="https://kit.fontawesome.com/6a51ec7480.js" crossorigin="anonymous"></script><link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all"><link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all"><link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all">
</head>
<!--




                                  _______
                           _,,ad8888888888bba,_
                        ,ad88888I888888888888888ba,
                      ,88888888I88888888888888888888a,
                    ,d888888888I8888888888888888888888b,
                   d88888PP"""" ""YY88888888888888888888b,
                 ,d88"'__,,--------,,,,.;ZZZY8888888888888,
                ,8IIl'"                ;;l"ZZZIII8888888888,
               ,I88l;'                  ;lZZZZZ888III8888888,
             ,II88Zl;.                  ;llZZZZZ888888I888888,
            ,II888Zl;.                .;;;;;lllZZZ888888I8888b
           ,II8888Z;;                 `;;;;;''llZZ8888888I8888,
           II88888Z;'                        .;lZZZ8888888I888b
           II88888Z; _,aaa,      .,aaaaa,__.l;llZZZ88888888I888
           II88888IZZZZZZZZZ,  .ZZZZZZZZZZZZZZ;llZZ88888888I888,
           II88888IZZ<'(@@>Z|  |ZZZ<'(@@>ZZZZ;;llZZ888888888I88I
          ,II88888;   `""" ;|  |ZZ; `"""     ;;llZ8888888888I888
          II888888l            `;;          .;llZZ8888888888I888,
         ,II888888Z;           ;;;        .;;llZZZ8888888888I888I
         III888888Zl;    ..,   `;;       ,;;lllZZZ88888888888I888
         II88888888Z;;...;(_    _)      ,;;;llZZZZ88888888888I888,
         II88888888Zl;;;;;' `--'Z;.   .,;;;;llZZZZ88888888888I888b
         ]I888888888Z;;;;'   ";llllll;..;;;lllZZZZ88888888888I8888,
         II888888888Zl.;;"Y88bd888P";;,..;lllZZZZZ88888888888I8888I
         II8888888888Zl;.; `"PPP";;;,..;lllZZZZZZZ88888888888I88888
         II888888888888Zl;;. `;;;l;;;;lllZZZZZZZZW88888888888I88888
         `II8888888888888Zl;.    ,;;lllZZZZZZZZWMZ88888888888I88888
          II8888888888888888ZbaalllZZZZZZZZZWWMZZZ8888888888I888888,
          `II88888888888888888b"WWZZZZZWWWMMZZZZZZI888888888I888888b
           `II88888888888888888;ZZMMMMMMZZZZZZZZllI888888888I8888888
            `II8888888888888888 `;lZZZZZZZZZZZlllll888888888I8888888,
             II8888888888888888, `;lllZZZZllllll;;.Y88888888I8888888b,
            ,II8888888888888888b   .;;lllllll;;;.;..88888888I88888888b,
            II888888888888888PZI;.  .`;;;.;;;..; ...88888888I8888888888,
            II888888888888PZ;;';;.   ;. .;.  .;. .. Y8888888I88888888888b,
           ,II888888888PZ;;'                        `8888888I8888888888888b,
           II888888888'                              888888I8888888888888888b
          ,II888888888                              ,888888I88888888888888888
         ,d88888888888                              d888888I8888888888ZZZZZZZ
      ,ad888888888888I                              8888888I8888ZZZZZZZZZZZZZ
    ,d888888888888888'                              888888IZZZZZZZZZZZZZZZZZZ
  ,d888888888888P'8P'                               Y888ZZZZZZZZZZZZZZZZZZZZZ
 ,8888888888888,  "                                 ,ZZZZZZZZZZZZZZZZZZZZZZZZ
d888888888888888,                                ,ZZZZZZZZZZZZZZZZZZZZZZZZZZZ
888888888888888888a,      _                    ,ZZZZZZZZZZZZZZZZZZZZ888888888
888888888888888888888ba,_d'                  ,ZZZZZZZZZZZZZZZZZ88888888888888
8888888888888888888888888888bbbaaa,,,______,ZZZZZZZZZZZZZZZ888888888888888888
88888888888888888888888888888888888888888ZZZZZZZZZZZZZZZ888888888888888888888
8888888888888888888888888888888888888888ZZZZZZZZZZZZZZ88888888888888888888888
888888888888888888888888888888888888888ZZZZZZZZZZZZZZ888888888888888888888888
8888888888888888888888888888888888888ZZZZZZZZZZZZZZ88888888888888888888888888
88888888888888888888888888888888888ZZZZZZZZZZZZZZ8888888888888888888888888888
8888888888888888888888888888888888ZZZZZZZZZZZZZZ88888888888888888 kushy  88
88888888888888888888888888888888ZZZZZZZZZZZZZZ8888888888888888888 sexy 88
8888888888888888888888888888888ZZZZZZZZZZZZZZ88888888888888888888888888888888







-->
<body id="page" >
<div id="QR" onclick="hide()">
  <p style="color:white;margin-bottom: 2vh; font-size: 26px;">Tap grey area to close.</p>
<div class="qr">
  <img src="/static/img/addRepoQR.png">

</div>

</div>
  <header>
      <div class="navbar" id="stuck">
        <div class="pp">
          <div id="logo" class="home">BlazeRepo</div>
    
          <div class="rightNavbarItems">
            {% if user %}
                <a href="#" class="navbarLink packagesLink">Packages</a>
                <a href="/account" class="navbarLink">Account</a>
                {% if dev %}
                    <a href="/dashboard" class="navbarLink">Developer Portal</a>
                {% endif %}
                <div id="loginButton" class="logout" onclick="logout()">Logout</div>
            {% else %}
                <a href="#" class="navbarLink packagesLink">Packages</a>
                <div id="loginButton" class="login" onclick="login()">Login</div>
            {% endif %}
            <form class="search-container" id="search-form" onsubmit="event.preventDefault();">
              <input id="search-box" type="text" class="search-box" name="q" />
              <label for="search-box"><i class="fas fa-search search-icon"></i></label>
              <input type="submit" id="search-submit" />
            </form>
          </div>
        </div>
      </div>
        <div class="navbar-mobile">
          <div id="logo" class="home">BlazeRepo</div>
    
          <div class="rightNavbarItems">
    
            <div class="container" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
    
          </div>
    
    
        </div>
    <div id="hero">
      
      
  
    

        <div class="yeetsense">
            <div class="header-content">
              <h1 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Most advanced iOS jailbreaking repo ever.</h1>
              <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">We offer the more features than any iOS repo ever.</p>
              <div class="wow fadeInUp" style="display:flex;justify-content:flex-start;align-items: center;"> <a href="cydia://url/https://cydia.saurik.com/api/share#?source=https://blazerepo.com" class="btn btn-default btn-header menu-item-internal " style="visibility: visible; animation-name: fadeInUp;">Add repo <img style="width:90px" src="/static/img/icons.svg"></a><i class="fas fa-qrcode" style="padding-left: 10px;color:#8c8c8c;font-size: 25px;" onclick="show()"></i></div>
            </div>
            <div class="header-ill">
              <div class="poop">
                <img alt="header illustration" src="/static/img/managerIcons.png" class="ill-client wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              </div>
            </div>
        </div>
  
  </div>
    <script src="/static/js/main/search.js"></script>

  </header> <!-- Add Repo Section -->


  <main>
      <div class="blaze-center"> 
      <div id="sec-1-flex"> 

  
    <div id="sect1">
        
           
            <div class="secondtitel">

                <h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Who are we?</h2>
          
            </div>
            <div id="sectext1">
                <p>Blazerepo is a new upcomming state of the art repo. We offer insane new features like <b class="textlink">Remote Installation</b>, <b class="textlink">Fast Package Handeling</b>, and <b class="textlink"> Many Payment Methods</b> such as Paypal, Stripe, and Cryptocurrencies. </p>
    
    
            </div>
        
        
        </div>
 
            <figure>
             <img alt="iphone 11" src="/static/img/ip11.png" class="ill-client wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            </figure>
          </div>
    </div>
  <div id="top-tweaks">
    <h1>Trending Tweaks</h1>




  </div>
   <div id="vid">
      <div id="introthing">
          <div id="bluroverlay"></div>
          <div id="intro-img"> 
              <div class="play-toggle" style="  z-index: 2;">
                  <div class="play-circle">
                    <i class="play-icon"></i>
                  </div>
                  <span class="">
                    <i>Watch our</i><br>
                    <strong>Introduction</strong>
                  </span>
                </div>
          
            </div>
  
      </div>

   </div>


   
 
<section id="memz"> 

    <!-- 
<div id="remote">
 <h2>Remote package installation</h2>
<div class="conn">
<div class="remote-left sidepic"></div>
<div id="particles-js"></div>


</div>  
<div id="other-remote">

</div>
 -->
</section>




    </main>
        <script>
        function logout() {
            location.href = "/logout"
        }
        function login() {
            location.href = "/login"
        }
    </script>
      <script src="/static/js/main/wow.js"></script>
      <script>
      new WOW().init();
      </script>
      <script>
      
      function hide() {
  document.getElementById("QR").style.display = "none";
}
function show() {
  document.getElementById("QR").style.display = "flex";
}
      
      </script>
      <script>
      
      $(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 2300) {
      $("#introthing").removeClass("return-animation");
        $("#introthing").addClass("start-animation");
        $('head').append('<style>.play-toggle span i, .play-toggle span strong{              animation: slideIn 400ms ease forwards;          }</style>');
        $('head').append('<style>.play-toggle .play-circle, .play-toggle .play-circle:before, .play-toggle .play-circle:after {        animation: scaleIn 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 500ms forwards;            }</style>');
    } else {
        $("#introthing").removeClass("start-animation");
        $("#introthing").addClass("return-animation");
    }
});
      
      </script>

        
<!---
<script>
  window.onscroll = function() {myFunction()};
  
  var header = document.getElementById("stuck");
  var sticky = header.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset > sticky+15) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
  </script>-->
</body>



</html>
